<div class="buttons {% if include.centered %} is-centered {% endif %}">
    <a class="button is-medium is-facebook"
       onclick="window.open('https://www.facebook.com/share.php?u={{ site.url }}{{ page.url | prepend: site.baseurl }}');">
        <span class="icon"><i class="fab fa-facebook fa-lg"></i></span>
    </a>
    <a class="button is-medium is-twitter"
       onclick="window.open('https://twitter.com/intent/tweet?text={{ site.url }}{{ page.url | prepend: site.baseurl }}');">
        <span class="icon"><i class="fab fa-twitter fa-lg"></i></span>
    </a>
    <a class="button is-medium is-line"
    onclick="window.open('https://api.line.me/social-plugin/metrics?url={{ site.url }}{{ page.url | prepend: site.baseurl }}');">
     <span class="icon"><i class="fab fa-line fa-lg"></i></span>
 </a>
</div>
